# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Other files
.editorconfig
/environments
primoto@0.0.0
/e2e
mocha
/src/browserslist
/src/gulpfile.js
/src/karma.conf.js
angular.json
package-lock.json
tsconfig.json
tslint.json
typings.json
/src/tslint.json
/src/web.config
/src/tsconfig.app.json
/src/tsconfig.spec.json
/src/main.ts
/src/polyfills.ts
/src/test.ts
sonar-project.properties
.scannerwork/
/src/assets/.gitkeep
/src/assets/vendor
/src/app/app-routing.module.ts
/src/app/app.component.spec.ts
/src/app/json.d.ts
/src/app/carte/carte.component.spec.ts
