<div class="flex-item-left">
<div class="image"><img src="../assets/img/logo.png"></div>
<div id="conteneurForm" #conteneurForm>


  <form id="initialForm" (ngSubmit)="initial(majeurFranceForm)" #initialForm="ngForm">
    <button type="submit">Commencer la simulation</button>
  </form>



  <form id="majeurFranceForm" (ngSubmit)="majeurFrance(majeurFranceForm)" #majeurFranceForm="ngForm">
    <span id="questionForm">Êtes-vous majeur domicilié en France ?</span><br><br>
    <input type="radio" name="majeurFrance" ngModel value="true"> Oui<br>
    <input type="radio" name="majeurFrance" ngModel value="false"> Non<br>
    <button type="submit">Suivant</button>
  </form>



  <form id="imposableForm" (ngSubmit)="imposable(imposableForm)" #imposableForm="ngForm">
    <span id="questionForm">Êtes-vous imposable au titre de l'avis d'imposition 2018 ?</span><br><br>
    <input type="radio" name="imposable" ngModel value="true"> Oui<br>
    <input type="radio" name="imposable" ngModel value="false"> Non<br>
    <button type="submit">Suivant</button>
  </form>

  <form id="typeVoitureForm" (ngSubmit)="typeVoiture(typeVoitureForm)" #typeVoitureForm="ngForm">
    <span id="questionForm">Précisez le type de votre véhicule destiné au recyclage :</span><br><br>
    <input type="radio" name="typeVoiture" ngModel value="diesel"> Véhicule Diesel<br>
    <input type="radio" name="typeVoiture" ngModel value="essence"> Véhicule Essence<br>
    <button type="submit">Suivant</button>
  </form>

  <form id="dieselImposableForm" (ngSubmit)="traitement(dieselImposableForm)" #dieselImposableForm="ngForm">
    <span id="questionForm">Votre véhicule diesel a-t-il été immatriculé avant 2001 ?</span><br><br>
    <input type="radio" name="reponse" ngModel value="true"> Oui<br>
    <input type="radio" name="reponse" ngModel value="false"> Non<br>
    <button type="submit">Suivant</button>
  </form>

  <form id="dieselNImposableForm" (ngSubmit)="traitement(dieselNImposableForm)" #dieselNImposableForm="ngForm">
    <span id="questionForm">Votre véhicule diesel a-t-il été immatriculé avant 2006 ?</span><br><br>
    <input type="radio" name="reponse" ngModel value="true"> Oui<br>
    <input type="radio" name="reponse" ngModel value="false"> Non<br>
    <button type="submit">Suivant</button>
  </form>
  
  <form id="essenceForm" (ngSubmit)="traitement(essenceForm)" #essenceForm="ngForm">
    <span id="questionForm">Votre véhicule essence a-t-il été immatriculé avant 1997 ?</span><br><br>
    <input type="radio" name="reponse" ngModel value="true"> Oui<br>
    <input type="radio" name="reponse" ngModel value="false"> Non<br>
    <button type="submit">Suivant</button>
  </form>

  <form id="typeVehiculeAcheterForm" (ngSubmit)="traitement(typeVehiculeAcheterForm)" #typeVehiculeAcheterForm="ngForm">
    <span id="questionForm">Quel type de véhicule souhaitez-vous acheter ou louer ?</span><br><br>
    <input type="radio" name="reponse" ngModel value="voiture"> Véhicule particulier, camionnette ou véhicule utilitaire léger<br><br>
    <input type="radio" name="reponse" ngModel value="moto"> 2 ou 3 roues motorisé ou quadricycle électrique avec une puissance maximale nette du moteur supérieure ou égale à 2 kilowatts<br>
    <button type="submit">Suivant</button>
  </form>

  <form id="etatVehiculeForm" (ngSubmit)="traitement(etatVehiculeForm)" #etatVehiculeForm="ngForm">
    <span id="questionForm">S'agit-il d'un véhicule neuf ou d'occasion ?</span><br><br>
    <input type="radio" name="reponse" ngModel value="neuf"> Neuf<br>
    <input type="radio" name="reponse" ngModel value="occasion"> Occasion<br>
    <button type="submit">Suivant</button>
  </form>

  <form id="classementCritairForm" (ngSubmit)="traitement(classementCritairForm)" #classementCritairForm="ngForm">
    <span id="questionForm">Quel est le classement Crit'air du véhicule que vous souhaitez acheter ou louer ?</span><br><br>
    <input type="radio" name="reponse" ngModel value="electrique"> Électrique ou hydrogène<br>
    <input type="radio" name="reponse" ngModel value="ca1"> Crit'air 1<br>
    <input type="radio" name="reponse" ngModel value="ca2"> Crit'air 2<br>
    <input type="radio" name="reponse" ngModel value="autres"> Autres<br>
    <button type="submit">Suivant</button>
  </form>

  <form id="emissionsCO2Form" (ngSubmit)="traitement(emissionsCO2Form)" #emissionsCO2Form="ngForm">
    <span id="questionForm">Quelles sont les émissions de dioxyde de carbone du véhicule que vous souhaitez acheter ou louer ?</span><br><br>
    <input type="radio" name="reponse" ngModel value="-50"> Émissions de CO<sub>2</sub> sont inférieures ou égales à 50 g/km<br>
    <input type="radio" name="reponse" ngModel value="51-122"> Émissions de CO<sub>2</sub> sont comprises entre 51 et 122 g/km inclus<br>
    <input type="radio" name="reponse" ngModel value="+122"> Émissions de CO<sub>2</sub> sont supérieures à 122 g/km<br>
    <button type="submit">Suivant</button>
  </form>

  <form id="hybrideForm" (ngSubmit)="traitement(hybrideForm)" #hybrideForm="ngForm">
    <span id="questionForm">S'agit-il d'un véhicule Hybride rechargeable avec une autonomie en mode tout électrique supérieure à 50 km ?</span><br><br>
    <input type="radio" name="reponse" ngModel value="true"> Oui<br>
    <input type="radio" name="reponse" ngModel value="false"> Non<br>
    <button type="submit">Suivant</button>
  </form>
  
  <form id="grandRouleurForm" (ngSubmit)="traitement(grandRouleurForm)" #grandRouleurForm="ngForm">
    <span id="questionForm">Parcourez-vous plus de 30 km pour vous rendre sur votre lieu de travail depuis votre domicile ou plus de 12 000 km par an dans le cadre de votre activité professionnelle avec votre véhicule personnel ?</span><br><br>
    <input type="radio" name="reponse" ngModel value="true"> Oui<br>
    <input type="radio" name="reponse" ngModel value="false"> Non<br>
    <button type="submit">Suivant</button>
  </form>
  
  <form id="emissionsCO2Ca2Form" (ngSubmit)="traitement(emissionsCO2Ca2Form)" #emissionsCO2Ca2Form="ngForm">
    <span id="questionForm">Quelles sont les émissions de dioxyde de carbone du véhicule que vous souhaitez acheter ou louer ?</span><br><br>
    <input type="radio" name="reponse" ngModel value="-=122"> Émissions de CO<sub>2</sub> sont inférieures ou égales à 122 g/km inclus<br>
    <input type="radio" name="reponse" ngModel value="+122"> Émissions de CO<sub>2</sub> sont supérieures à 122 g/km<br>
    <button type="submit">Suivant</button>
  </form>

  <div id="resultat">
	<span id="resultatPhrase"></span>
	<form id="reinitialiserForm" (ngSubmit)="reinitialiser(reinitialiserForm)" #reinitialiserForm="ngForm">
		<button type="submit">Réévaluer</button>
	</form>
	<form id="concessionForm" (ngSubmit)="afficherCarte(concessionForm)" #concessionForm="ngForm">
		<button type="submit">Acheter une voiture</button>
	</form>
  </div> 

</div>
</div>
