* {
  box-sizing: border-box;
}

body {
  background: url("../img/fondVert.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
  
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

p {
  font-weight: 400;
  font-family: 'Montserrat';
}

.image {
  position: relative;
  height: auto;
  display: flex; 
  align-items: center; 
  justify-content: center;
  width: 100%;
  margin-top:-5%;
  
}

/* container du formulaire */

.container {
  position: relative;
  width: 50%;
  float:left;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-bottom: 10%;
 
}

/* hover des images à selectionner */

.imageHover {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.container:hover .imageHover {
  opacity: 0.3;
}

.container:hover .middleHover {
  opacity: 1;
}


body {
  background-color: #f1f1f1;
}

/* erreur lorsque champs vides */
input.invalid {
  
  border-bottom-color:red;
  color:red;
  
}

/* cache les autres tabs */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-family: 'Montserrat';
  padding: 20px 40px;
  cursor: pointer;
  margin-top:20px;
  border-radius:100px;

}

button:focus {
	outline:0;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* cercle de progression formulaire */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
  background-color:#4CAF50;
}

/* valide les etapes */
.step.finish {
  background-color: #4CAF50;
}


/* test */
.flex-container { 
  margin: 0;
  list-style: none; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-box-orient: horizontal;
  justify-content: space-between;
  padding:6%;
  
}

.flex-item-left {
  background: white;
  padding: 10% 5%;
  width: 600px;
  text-align: center;
  display:block;
  height:450px;

  
}

.flex-item-right {
  width: 50%;
  color: white;
  text-align: right;
  margin-left:10%;
  margin-right:5%;
  
}

.flex-item-right > h1 {
  font-size:300%;
}

.flex-item-right > p {
  font-size:100%;
}

      @media (max-width: 1100px) {
        .flex-container {
          flex-wrap:wrap;
		  flex-direction:column;
        }

		
		.flex-item-left {
          width:100%;
		  margin:auto;


        }
		
		.flex-item-right {
          width:100%;
		  text-align:left;
		  margin-top:3%;
		  margin-left:0;
        }
		
	  } 
	  

		


